In [1]:
import pandas as pd

In [2]:
# read the csv file
df = pd.read_csv('players_20.csv')
# set index
df.set_index('short_name', inplace=True)
# select column
df = df[['long_name', 'age',	'dob', 'height_cm',	'weight_kg', 'nationality',	'club']]

In [4]:
# show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

## 1. sample()

In [27]:
# extract 10 random elements from the 'nationality' column
df['nationality'].sample(10, random_state=99)

short_name
R. Alvarado               Mexico
Qiao Wei                China PR
E. Paredes                 Chile
K. Stoyanov             Bulgaria
M. Chudý                Slovakia
D. Sundaram                India
R. Gagliardini             Italy
G. Debeljuh              Croatia
Kim Seung Yong    Korea Republic
M. Hansen                Denmark
Name: nationality, dtype: object

In [32]:
# extract a random 20% sample of the dataframe
df.sample(frac=0.2, random_state=10)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
F. Ortega,Francisco Ortega,20,1999-03-19,177,75,Argentina,Vélez Sarsfield
M. Ilaimaharitra,Marco Ilaimaharitra,23,1995-07-26,177,79,Madagascar,Sporting de Charleroi
D. Parker,Devante Parker,23,1996-03-16,175,66,Germany,1. FSV Mainz 05
H. Mendoza,Humberto Antonio Mendoza Quiñónez,34,1984-10-02,189,85,Colombia,Envigado FC
K. Qaka,Kamer Qaka,24,1995-04-11,170,73,Albania,Universitatea Craiova
...,...,...,...,...,...,...,...
A. Koșelev,Alexei Koșelev,25,1993-11-19,200,90,Moldova,Fortuna Sittard
P. Ejimadu,Phillip Ejimadu,19,1999-08-31,188,98,United States,Los Angeles FC
E. List,Elliott List,22,1997-05-12,174,74,England,Gillingham
V. Bondarenko,Valeriy Bondarenko,25,1994-02-03,194,88,Ukraine,Vitória Guimarães
T. Chunchukov,Tsvetelin Chunchukov,24,1994-12-26,181,75,Bulgaria,Bulgaria

In [44]:
# upsample: increase the sampling rate -> frac>1 (Note: replace parameter has to be True for frac parameter > 1)
df.sample(frac=2, replace=True, random_state=29)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
I. Obradović,Ivan Obradović,30,1988-07-25,181,80,Serbia,Legia Warszawa
D. Bouzanis,Dean Bouzanis,28,1990-10-02,185,84,Australia,Melbourne City FC
A. Selikhov,Alexandr Selikhov,25,1994-04-07,188,85,Russia,Spartak Moscow
Raffael,Raffael Caetano de Araújo,34,1985-03-28,174,69,Brazil,Borussia Mönchengladbach
N. Çiftçi,Nadir Çiftçi,27,1992-02-12,185,77,Turkey,Gençlerbirliği SK
...,...,...,...,...,...,...,...
B. Touré,Ibrahim Blati Touré,24,1994-08-04,170,65,Ivory Coast,Vitória Guimarães
V. Lia,Vince Lia,34,1985-03-18,177,73,Australia,Adelaide United
G. Rólantsson Sørensen,Gilli Rólantsson Sørensen,26,1992-08-11,187,82,Faroe Islands,SK Brann
E. García,Emmanuel García,29,1989-12-28,168,67,Mexico,Pachuca
K. Nordfeldt,Kristoffer Nordfeldt,30,1989-06-23,190,85,Sweden,Swansea City